In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/HR_comma_sep (2).csv')

In [2]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [3]:
df1=['sales','salary']
df_final=pd.get_dummies(df,columns=df1,drop_first=True)

In [4]:
df1

['sales', 'salary']

In [5]:
df_final

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales_RandD,sales_accounting,sales_hr,sales_management,sales_marketing,sales_product_mng,sales_sales,sales_support,sales_technical,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,1,0,0,0,0,0,0,0,1,0,0,1,0
1,0.80,0.86,5,262,6,0,1,0,0,0,0,0,0,0,1,0,0,0,1
2,0.11,0.88,7,272,4,0,1,0,0,0,0,0,0,0,1,0,0,0,1
3,0.72,0.87,5,223,5,0,1,0,0,0,0,0,0,0,1,0,0,1,0
4,0.37,0.52,2,159,3,0,1,0,0,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,0,0,0,0,0,0,0,1,0,1,0
14995,0.37,0.48,2,160,3,0,1,0,0,0,0,0,0,0,0,1,0,1,0
14996,0.37,0.53,2,143,3,0,1,0,0,0,0,0,0,0,0,1,0,1,0
14997,0.11,0.96,6,280,4,0,1,0,0,0,0,0,0,0,0,1,0,1,0
14998,0.37,0.52,2,158,3,0,1,0,0,0,0,0,0,0,0,1,0,1,0

Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.
Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

In [6]:
from sklearn.model_selection import train_test_split
X = df_final.drop(['left'],axis=1).values
y = df_final['left'].values

In [7]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

In [9]:
from keras.models import Sequential
from keras.layers import Dense
classifier=Sequential()
classifier.add(Dense(9,kernel_initializer="uniform",activation="relu",input_dim=18))
classifier.add(Dense(1,kernel_initializer="uniform",activation="sigmoid"))
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=["accuracy"])

In [10]:
classifier.fit(X_train,y_train,batch_size=10,epochs=100)

Epoch 1/100
1050/1050 [==============================] - 3s 2ms/step - loss: 0.4223 - accuracy: 0.7924
Epoch 2/100
1050/1050 [==============================] - 3s 3ms/step - loss: 0.2769 - accuracy: 0.8449
Epoch 3/100
1050/1050 [==============================] - 4s 4ms/step - loss: 0.2313 - accuracy: 0.9079
Epoch 4/100
1050/1050 [==============================] - 5s 5ms/step - loss: 0.2064 - accuracy: 0.9455
Epoch 5/100
1050/1050 [==============================] - 6s 5ms/step - loss: 0.1896 - accuracy: 0.9537
Epoch 6/100
1050/1050 [==============================] - 8s 8ms/step - loss: 0.1798 - accuracy: 0.9556
Epoch 7/100
1050/1050 [==============================] - 5s 5ms/step - loss: 0.1729 - accuracy: 0.9581
Epoch 8/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1685 - accuracy: 0.9580
Epoch 9/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1655 - accuracy: 0.9566
Epoch 10/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1627 - accuracy: 0.9571
Epoch 11/100
1050/1050 [==============================] - 3s 3ms/step - loss: 0.1611 - accuracy: 0.9558
Epoch 12/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1592 - accuracy: 0.9566
Epoch 13/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1578 - accuracy: 0.9576
Epoch 14/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1572 - accuracy: 0.9569
Epoch 15/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1562 - accuracy: 0.9570
Epoch 16/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1553 - accuracy: 0.9569
Epoch 17/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1544 - accuracy: 0.9566
Epoch 18/100
1050/1050 [==============================] - 3s 3ms/step - loss: 0.1536 - accuracy: 0.9560
Epoch 19/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1533 - accuracy: 0.9569
Epoch 20/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1528 - accuracy: 0.9571
Epoch 21/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1527 - accuracy: 0.9564
Epoch 22/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1517 - accuracy: 0.9567
Epoch 23/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1517 - accuracy: 0.9568
Epoch 24/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1509 - accuracy: 0.9559
Epoch 25/100
1050/1050 [==============================] - 5s 4ms/step - loss: 0.1508 - accuracy: 0.9572
Epoch 26/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1506 - accuracy: 0.9561
Epoch 27/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1503 - accuracy: 0.9566
Epoch 28/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1502 - accuracy: 0.9569
Epoch 29/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1497 - accuracy: 0.9574
Epoch 30/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1498 - accuracy: 0.9562
Epoch 31/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1498 - accuracy: 0.9566
Epoch 32/100
1050/1050 [==============================] - 3s 2ms/step - loss: 0.1496 - accuracy: 0.9570
Epoch 33/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1490 - accuracy: 0.9576
Epoch 34/100
1050/1050 [==============================] - 3s 3ms/step - loss: 0.1496 - accuracy: 0.9561
Epoch 35/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1487 - accuracy: 0.9573
Epoch 36/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1486 - accuracy: 0.9578
Epoch 37/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1483 - accuracy: 0.9582
Epoch 38/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1484 - accuracy: 0.9569
Epoch 39/100
1050/1050 [==============================] - 3s 2ms/step - loss: 0.1487 - accuracy: 0.9569
Epoch 40/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1481 - accuracy: 0.9572
Epoch 41/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1480 - accuracy: 0.9566
Epoch 42/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1477 - accuracy: 0.9574
Epoch 43/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1476 - accuracy: 0.9557
Epoch 44/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1475 - accuracy: 0.9573
Epoch 45/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1477 - accuracy: 0.9572
Epoch 46/100
1050/1050 [==============================] - 4s 3ms/step - loss: 0.1473 - accuracy: 0.9579
Epoch 47/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1476 - accuracy: 0.9571
Epoch 48/100
1050/1050 [==============================] - 3s 2ms/step - loss: 0.1473 - accuracy: 0.9575
Epoch 49/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1468 - accuracy: 0.9580
Epoch 50/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1467 - accuracy: 0.9574
Epoch 51/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1465 - accuracy: 0.9569
Epoch 52/100
1050/1050 [==============================] - 3s 2ms/step - loss: 0.1459 - accuracy: 0.9582
Epoch 53/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1464 - accuracy: 0.9576
Epoch 54/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1460 - accuracy: 0.9585
Epoch 55/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1458 - accuracy: 0.9569
Epoch 56/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1456 - accuracy: 0.9582
Epoch 57/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1454 - accuracy: 0.9578
Epoch 58/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1452 - accuracy: 0.9575
Epoch 59/100
1050/1050 [==============================] - 3s 2ms/step - loss: 0.1450 - accuracy: 0.9582
Epoch 60/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1443 - accuracy: 0.9574
Epoch 61/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1446 - accuracy: 0.9589
Epoch 62/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1447 - accuracy: 0.9576
Epoch 63/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1440 - accuracy: 0.9579
Epoch 64/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1444 - accuracy: 0.9578
Epoch 65/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1438 - accuracy: 0.9585
Epoch 66/100
1050/1050 [==============================] - 3s 2ms/step - loss: 0.1441 - accuracy: 0.9569
Epoch 67/100
1050/1050 [==============================] - 3s 3ms/step - loss: 0.1439 - accuracy: 0.9574
Epoch 68/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1439 - accuracy: 0.9593
Epoch 69/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1431 - accuracy: 0.9588
Epoch 70/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1438 - accuracy: 0.9586
Epoch 71/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1437 - accuracy: 0.9576
Epoch 72/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1440 - accuracy: 0.9589
Epoch 73/100
1050/1050 [==============================] - 3s 2ms/step - loss: 0.1431 - accuracy: 0.9570
Epoch 74/100
1050/1050 [==============================] - 3s 2ms/step - loss: 0.1429 - accuracy: 0.9585
Epoch 75/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1431 - accuracy: 0.9583
Epoch 76/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1430 - accuracy: 0.9576
Epoch 77/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1427 - accuracy: 0.9589
Epoch 78/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1428 - accuracy: 0.9585
Epoch 79/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1433 - accuracy: 0.9589
Epoch 80/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1425 - accuracy: 0.9578
Epoch 81/100
1050/1050 [==============================] - 3s 3ms/step - loss: 0.1423 - accuracy: 0.9584
Epoch 82/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1422 - accuracy: 0.9591
Epoch 83/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1425 - accuracy: 0.9590
Epoch 84/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1420 - accuracy: 0.9588
Epoch 85/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1420 - accuracy: 0.9587
Epoch 86/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1420 - accuracy: 0.9591
Epoch 87/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1417 - accuracy: 0.9588
Epoch 88/100
1050/1050 [==============================] - 3s 3ms/step - loss: 0.1419 - accuracy: 0.9599
Epoch 89/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1414 - accuracy: 0.9581
Epoch 90/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1410 - accuracy: 0.9589
Epoch 91/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1415 - accuracy: 0.9583
Epoch 92/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1411 - accuracy: 0.9592
Epoch 93/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1409 - accuracy: 0.9589
Epoch 94/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1411 - accuracy: 0.9589
Epoch 95/100
1050/1050 [==============================] - 3s 2ms/step - loss: 0.1408 - accuracy: 0.9586
Epoch 96/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1413 - accuracy: 0.9593
Epoch 97/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1409 - accuracy: 0.9590
Epoch 98/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1408 - accuracy: 0.9596
Epoch 99/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1411 - accuracy: 0.9579
Epoch 100/100
1050/1050 [==============================] - 2s 2ms/step - loss: 0.1408 - accuracy: 0.9583

In [11]:
y_pred = classifier.predict(X_test)
y_pred

141/141 [==============================] - 0s 1ms/step

array([[9.3165880e-01],
       [9.4679075e-01],
       [1.5007777e-04],
       ...,
       [9.8861784e-01],
       [1.9283002e-06],
       [8.0753048e-04]], dtype=float32)

In [12]:
y_pred = (y_pred > 0.5)
y_pred

array([[ True],
       [ True],
       [False],
       ...,
       [ True],
       [False],
       [False]])

In [13]:
from sklearn.metrics import accuracy_score
cm=accuracy_score(y_test,y_pred)
cm

0.9517777777777777

In [14]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[3299,  114],
       [ 103,  984]])